.inside {
  margin-left: 200px;
  padding: 0 20px;
  height: 100%;

  table {
    thead {
      tr {
        th {
          font-size: 14px;
          font-weight: 400;
          padding: 5px;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 14px;
          text-align: center;
          padding: 5px;

          p {
            margin: 0;

            a {
              font-size: 14px;
            }
          }

          img {
            width: 50px;
          }
        }
      }
    }
  }

  .block {
    width: 300px;
  }

  .partners,
  .members,
  .dates {
    input[type="text"],
    select {
      width: 300px;
    }
  }
}
